@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p, li {
  font-family: var(--font-khand);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-anton);
}

.mask {
  mask-image: url("../../public/assets/paint-mask.svg");
  mask-size: 1910px;
  mask-repeat: no-repeat;
  mask-position: center;
}