@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Hide the default scrollbar */
body {
  scrollbar-width: thin; /* For Firefox */
  overflow-y: scroll; /* For WebKit-based browsers */
}

/* WebKit */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
body {
  scrollbar-width: none;
}

/* IE/Edge */
body {
  -ms-overflow-style: none;
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p,
li {
  font-family: var(--font-khand);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-anton);
}

a.nav {
  font-family: var(--font-khand)
}

.neonText {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}